rules_version = '2';

service firebase.storage {

  match /b/{bucket}/o {

    // =========================
    // AUTH CHECK
    // =========================

    function isSignedIn() {

      return request.auth != null;
    }

    // =========================
    // ADMIN CHECK
    // =========================

    function isAdmin() {

      return request.auth.token.email in [

        "yourmainadmin@gmail.com",

        "secondadmin@gmail.com"

      ];
    }

    // =========================
    // FILE ACCESS
    // =========================

    match /{allPaths=**} {

      allow read:
          if isSignedIn();

      allow write:
          if isAdmin();
    }
  }
}